<%- include('partials/header') %>


<div class="container1">
  <div class="container2">
    <i id="incognitoIcon" class="bi bi-incognito"></i>
    <h1 class="title">Secrets</h1>
    <p class="paragraph">Don't keep your secrets, share them anonymously!</p>

    <hr>
    <a class="register" href="/register" role="button">Register</a>
    <a class="login" href="/login" role="button">Login</a>   

  </div>
</div>

<%- include('partials/footer') %>
