<%- include('partials/header') %>

  <div class="containerSecrets1">
    <div class="containerSecrets2">
      <i id="secretFileIcon" class="bi bi-file-earmark-medical"></i>
      <h1 class="secretsh1"><%= secret !== null ? "Your secret is: " : "You've Discovered My Secret!" %> </h1>

      <p class="secrets2p"><%= secret || "MY favourite color is black" %></p>
      <hr>
      <a class="secretsLogout" href="/logout" role="button">Log Out</a>
      <a class="secretsSumbit" href="/submit" role="button">Submit a Secret</a>
    </div>
  </div>

  <%- include('partials/footer') %>